
<html>
<head>
    <title>Title</title>
</head>
<body>
Add new user
<h1>Hello!</h1>
{{#user}}
    <div><b>{{user}}</b></div>
{{/user}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <div><input type="submit" value="Sign up"/></div>
</form>


</body>
</html>